@media(max-width:768px){
    .login-page > div{
        height: initial ;
        padding: 30px 0;
    }
  
}
@media(max-width:350px){
    .login-page .login-card{
        padding: 20px !important;
    }
}
.login-page .card{
    width: 90%;
    max-width: 100%;
}