* {
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
}
.container {
  width: 90vw;
  margin: auto;
}
.dash-home .container {
  padding: 0 30px;
}
.dashboard .pagination{
  display: flex;
  justify-content: center;
}
body{
  background-color: rgb(244, 244, 244) !important ;
}
html,body{
  overflow-x: hidden;
}

.table-container table th,
.table-container table td {
  padding: 20px ; 
  text-align: center;
}
.table-container .actions-button{
  width: 400px;
}

.table-container table tr {
  border-bottom: 10px solid transparent; 
  border: 1px solid rgb(232, 227, 227);

}
@media(max-width:508px){
  .table-container .actions-button{
    width: initial ;
  }
}
.table-container table {
  border-spacing: 0; 
  border-collapse: separate; 
}
.actions-button button{
  width: 100px;
  padding: 5px;
}
 .btn-delete{
  background-color: rgb(230, 91, 91) !important;
  color: white !important;
}
 .btn-delete:hover{
  background-color: rgb(230, 71, 71) !important;
  color: white !important;
}
.add-admin-btn{
  width: 160px;
  max-width: 100%;
}
.edit-admin-btn{
  background-color: #3d4756 !important;
}