.Dashsidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #ffffff;
  overflow-y: auto;
  z-index: 20;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 25.8px 0px rgba(0, 0, 0, 0.06);
}
@media (max-width: 320px) {
  .Dashsidebar {
    width: 280px;
  }
}
.Dashsidebar.open {
  transform: translateX(0);
}

.Dashsidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #1c84ee;
  border-radius: 8px;
  margin-top: 9px;
}
.Dashsidebar .heading {
  width: 100%;
}
.Dashsidebar .side-logo {
  width: 100%;
  display: flex;
  padding: 0 15px;
}
.side-logo span {
  color: #1c84ee;
}

.Dashsidebar .linkss {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin-top: 25px;
  color: #000000b2;
}
.linkss li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 95%;
  height: 40px;
  padding: 8px 13px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  transition: var(--main-tran);
}

.Dashsidebar .linkss li.messages::before {
  content: attr(data-length);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: var(--white-color);
  background-color: var(--main-color);
}
.Dashsidebar .linkss li a {
  width: 100%;
  color: #8486a7;
  padding: 0 20px;
  text-decoration: none;
}

.linkss li:has(a.active) {
  background-color: #f5f5f5;
}

.Dashsidebar .linkss .active,
.Dashsidebar .linkss li:hover {
  background-color: #f5f5f5;
  color: #8486a7;
}

.Dashsidebar .linkss .active::before {
  content: "";
  width: 24px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: -1px;
  left: -4px;
  z-index: -10;
  background-color: var(--main-color);
}


.Dashsidebar .log-out .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  color: #000000b2;
}



.linkss li {
  height: 40px; /* Adjust as per your design */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.linkss li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
}

.linkss li a {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  transition: background-color 0.3s ease;
}

.linkss li a:hover,
.linkss li a.active {
  background-color: #f3f1fa;
  color: #3d4756;
}
.linkss li:has(a.active)::before {
  background-color: #1c84ee;
}
.linkss li:not(:last-child) a:hover svg {
  fill: #3d4756 !important;
}

.linkss li a svg {
  margin-right: 5px;
}
.Dashsidebar .linkss li:not(:last-child) svg{
  fill: #8486a7 !important;

}
